

.movie-detail {
  height: 100%;
  width: 100%;
  background-color: rgba(100,100,105,1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-detail h1 {
  color: white;
}
.title-details {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

    /*-----ratings-----*/
.rating-container {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vote-rating {
  margin-bottom: 0;
}
.vote-count {
  margin-top: 10px;

}
.rating-container img {
  width: 25px;
  height: 100%;
}

.movie-detail-box {
  max-width: 75%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-detail-box img {
  padding: 0;
  overflow: auto;
  max-width: 350px;
  height: 100px;
  width: 95%;
  height: auto;
}

.main-poster {
  margin-bottom: 30px;
}
.movieDetail-similar {
  max-width: 75%;
  width: 175px;
  padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieDetail-similar h4{
  margin: 0;
  font-size: 20px;
}


    /*-----youtube-----*/
.youtube-thumbnails {
  display: flex;
  flex-direction: row;
}
.youtube-thumbnails {
  display: flex;
  flex-direction: row;
}

.youtube-thumbnails img:hover {
  cursor:pointer;
  opacity: 0.8;
}


.genres-container  {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 20px;
}

.genres-container:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -24px;
  width: 100%;
  border-bottom: 2px solid rgb(152,152,152);
}

.movie-detail-section {
  width: 100%;
  position: relative;
    padding-top: 20px;
}



.genre {
  border: 1px solid black;
  padding: 7px;
  border-radius: 7px;
}
.accordion {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .play-video {
    width: 20px;
  }
}
